$bgColor: #ffffff;
$webFont: sans-serif;
$navColor: #5f7c8a;
$LinkColor: #26bbd3;
$articleBackgroundColor: #EFEFEF;
$postDescriptionColor: #24bbd3;
$h3Color: #21BCD3;
$PColor: #a8adae;
$SubmitColor: #ffffff;