$bgColor: #EFEFEF;
$webFont: serif;
$navColor: #5c7a8a;
$LinkColor: #fc592f;
$articleBackgroundColor: #FFFFFF;
$postDescriptionColor: #c6bec4;
$h3Color: #647f8a;
$PColor: #8c867e;
$SubmitColor: #ffffff;